.navbar{
    display: flex;
    border: 1px solid blue;
    /* align-items: center; */
    justify-content: space-evenly;
    
}
.navbar>p{
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.Post{
    border: 1px solid blue;
    width:500px;
}
.but{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:10px ;
}