.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(241, 238, 238);
}
.navbar>p{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    padding: .5%;
    font-size: x-small;
}
.Post{
    /* border: 1px solid blue; */
    width:90%;
    padding: 5%;
}
.but{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:10px ;
}
.footer{
    margin: 5px;
    background-color: rgb(241, 245, 248);
    width: 100%;
}

.area{
    display: flex;
}
.d{
    width: 100%;
}